{% extends "base.html" %}

{% block content %}

{% for article in articles_page.object_list | sort(attribute='date', reverse=True) if article.category == MEETUP_CATEGORY %}

    {% if loop.index == 1 %}
        {% set sign_up_text = True %}
        {% set meetup_heading = "Next Meetup" %}
        {% include 'meetup_panel.html' with context %}
    {% elif loop.index == 2 %}
        {% set sign_up_text = False %}
        {% set meetup_heading = "Last Meetup" %}
        {% include 'meetup_panel.html' with context %}
    {% endif %}

{% endfor %}

<section>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 text-center">
                    <a href="/category/meetups">Older Meetups</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}
